body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea {
    margin: 0;
    padding: 0;
}
body {
    font-family: "微软雅黑";
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #666;
}
img {
    border: none;
}
.head-info {
    width: 100%;
    height: 33px;
    background: url(../img/headbg.jpg) repeat-x;
    line-height: 33px;
}
.infobox {
    width: 1200px;
    height: 33px;
    margin: 0 auto;
    .left {
        float: left;
        width: 50%;
        height: 33px;
            li {
            color: #666666;
            font-family: simsun,arial,Arial Narrow,serif;
            font-size: 10px;
            }
    }
    .right {
        float: right;
        width: 50%;
        height: 33px;
        text-align: right;
        li {
        float: right;
        font-family: simsun,arial,Arial Narrow,serif;
        padding-right: 10px;
        font-size: 12px;
            &.tel {
                position: relative;
                color: hsl(352, 100%, 55%);
                font-size: 18px;
                font-family: Arial, Helvetica, sans-serif;
                padding-left: 30px;
                font-style: italic;
            }
        }
    }
}


.meau {
    position: relative;
        b {
            top: 14px;
            right: 2px;
            width: 7px;
            height: 4px;
            background: url(../img/detail.gif) no-repeat -252px -30px;
            position: absolute;
            // overflow: hidden;
        }
    .er{
        display: none;
        width: 70px;
        height: 75px;
        padding-top: 5px;
        background: white;
        text-align: left;
        position: absolute;
        top: 33px;
        left: -1px;
        z-index: 111;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        p{
            line-height: 10px;
            font-size: 12px;
            height: 20px;
        }
        p:hover{
            
            a{
                color: red;
                text-decoration: underline;
            }
        }
    }
}
.meau:hover{
    background: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    .er{
        display: block;
    }
}
.line {
    color: #ddd;
}
.tel {
    span {
      width: 16px;
      height: 13px;
      top: 9px;
      left: 7px;
      background: url(../img/detail.gif) no-repeat -269px -30px;
      position: absolute;
      overflow: hidden;
    }
}
/* headbox */
.headbox {
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    div {
      float: left;
    }
    .logo {
      width: 320px;
      padding: 15px 0 0 35px;
      display: inline;
    }
    .searchbox {
      width: 650px;
      margin-top: 22px;
    }
    .search{
    width: 428px;
    height : 30px;
    position: relative;
    border: 2px solid #02A3F0;
    background: url(../img/detail.gif) no-repeat 0 -521px;
    z-index: 1;
    // display: flex;
        .sou{
            position: absolute;
            // visibility: hidden;
            width: 362px;
            // border: 1px solid #02A3F0;
            background-color: #fff;
            z-index: 2;
            // margin-top: 31px;
            margin-left: -2px;
            // *margin-left: -363px;
            box-shadow: 3px 3px 5px #b8b8b8;
            #inp{
                position: absolute;
                border: none;
                background: none;
                float: left;
                width: 341px;
                height: 14px;
                color: #666;
                font-size: 14px;
                padding: 8px 10px;
                z-index: 3;
                outline: 0 none
            }
        }
        #suo{
            width: 67px;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            overflow: hidden;
            color: #fff;
            font-size: 14px;
            text-align: center;
            float: right;
        }
        a{
            position: absolute;
            // visibility: hidden;
            // display: none;
            cursor: pointer;
            margin-left: 340px;
            margin-top: 1px;
            padding: 4px;
            font-size: 14px;
        }
    }
    .hot{
        padding-top: 3px;
        width: 630px;
        overflow: hidden;
        white-space: nowrap;
        font-size: 13px;
        a{
            height: 22px;
            line-height: 22px;
            padding: 4px;
        }
        a:hover{
            color: red;
            text-decoration: underline;
        }
        .imp{
            color: red !important;
        }
    }
    .ewm{
        position: absolute;
        background: url(../img/qrcode-app-80.png) no-repeat;
        width: 80px;
        height: 80px;
        top: 36px;
        left: 1020px;
        .fu{
            width: 200px;
            height: 200px;
            border: 1px solid #999999;
            position: absolute;
            top: 4px;
            left: -60px;
            background: white;
            box-shadow: 3px 5px 5px #c3c3c3;
            z-index: 222;
            display: none;
            .top{
                height: 90px;
                border-bottom: 1px solid #cccccc;
                padding: 5px;
                p{
                    .android{
                        background-position: 0 -26px;
                    }
                    a{
                        width: 25px;
                        height: 25px;
                        display: inline-block;
                        background: url(../img/mobile-system.png) no-repeat;
                        margin-right: 5px;
                        margin-top: 5px;
                    }
                }
                b{
                    font-size: 13px;
                    color: #666666;
                    font-weight: normal;
                }
                img{
                    float: left;
                }
            }
            .but{
                height: 90px;
                padding: 5px;
                img{
                    float: left;
                }
                b{
                    font-size: 13px;
                    color: #666666;
                    font-weight: normal;
                }
            }
        }
    }
    .ewm:hover{
        .fu{
            display: block;
        }
    }
    .cart{
        float: right;
        width: 195px;
        height: 44px;
        background: sandybrown;
        position: absolute;
        line-height: 44px;
        top: 50px;
        left: 1170px;
        .cat{
            background: url(../img/detail.gif) no-repeat 0px -30px;
            // display: block;
            font-size: 12px;
            padding-left: 70px;
            position: relative;
            width: 180px;
            z-index: 11;
            height: 44px;
            line-height: 44px;
            position: relative;
            b{
                color: red;
                margin: 0 4px;
            }
        }
        .cat:hover{
            background : url(../img/detail.gif) no-repeat 0px -73px;
            
        }
        .catlist{
            display: none;
            width: 300px;
            height: 60px;
            background: white;
            position: absolute;
            border-bottom: 1px solid #dfdfdf;
            border-left: 1px solid #dfdfdf;
            border-right: 1px solid #dfdfdf;
            top: 44px;
            right: 0;
            z-index: 222;
            font-size: 12px;
            text-align: left;
            line-height: 60px;
        }
    }
    .cart:hover{
        .catlist{
                display: block;
            }
    }
}
// nav
.nav{
    width: 100%;
    height: 40px;
    background: url(../img/navbg.jpg) repeat-x;
    .navbox{
        width: 1200px;
        height: 40px;
        margin: 0 auto;
        position: relative;
        .shop{
            position: absolute;
            top: 0;
            left: 0;
            dl{
                // display: none;
                overflow: hidden;
                width: 230px;
                height: 0;
                // background: #f8f8f8;
                dt{
                    display: inline;
                    position: relative;
                    float: left;
                    width: 208px;
                    border: 1px solid #e7e7e7;
                    border-top: none;
                    line-height: 22px;
                    overflow: hidden;
                    text-align: left;
                    padding: 13px 0px 6px 20px;
                    background: #f8f8f8;
                    p{
                        font-size: 12px;
                        word-spacing: 5px;
                    }
                }
            }
            .list{
                background: url(../img/detail.gif) no-repeat 0 -117px;
                display: block;
                width: 230px;
                z-index: 2;
                height: 40px;
                line-height: 40px;
                cursor: default;
                color: #fff;
                font-family: microsoft yahei;
                text-align: center;
                font-size: 16px;
            }
        }
        // .shop:hover{
        //     #webf0{
        //         display: block;
        //     }
        // }
        .lie{
            position: absolute;
            top: 0;
            left: 230px;
            width: 960px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            font-family: microsoft yahei;
            padding-left: 10px;
            ul li{
                float: left;
                padding: 0 30px;
                background: url(../img/navlibg.jpg) no-repeat right center;
                a{
                    color: white;
                }
                a:hover{
                    color: skyblue;
                }
                .red{
                    color: red !important;
                }
            }
            #ku{
                background: none;
            }
        }
    }
}
// footer
.footer{
    float: left;
    width: 100%;
    height: 200px;
    background: url(../img/f_03.jpg) repeat-x;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin: 30px auto;
    overflow: hidden;
    .f-box{
        width: 1200px;
        height: 200px;
        margin: 25px auto;
        display: flex;
        .f-one{
            // float: left;
            width: 240px;
            padding-left: 44px;
            .tel{
                background: url(../img/detail.gif) no-repeat 0 -157px;
                width: 197px;
                height: 49px;
                .num{
                    font-size: 18px;
                    color: #ff1a3a;
                    font-family: Arial;
                    padding-left: 72px;
                    font-style: italic;
                    font-weight: bold;
                    padding-top: 8px;
                }
                .time{
                    color: #444;
                    text-align: right;
                    width: 197px;
                }
            }
            .weibo{
                background: url(../img/w.jpg) no-repeat;
                width: 197px;
                height: 22px;
                line-height: 22px;
                margin-top: 10px;
                font-size: 14px;
                font-family: microsoft yahei;
                font-weight: bold;
                padding-left: 30px;
                display: flex;
                align-items: center;
                a{
                    margin-left: 6px;
                }
            }
            .ding{
                margin-top: 10px;
                display: flex;
                align-items: center;
                input{
                    width: 132px;
                    height: 24px;
                    line-height: 24px;
                    background: #fff;
                    border: 1px solid #e8e8e8;
                    color: #666;
                    padding-left: 4px;
                    font-size: 12px;
                    outline: 0 none;
                }
            }
            .ps{
                color: #9b9b9b;
                line-height: 22px;
                padding-left: 3px;
                font-size: 12px;
            }
        }
        .f-two{
            width: 100px;
            padding-left: 25px;
            border-left: 1px solid #e1e1e1;
            height: 150px;
            dt{
                margin-bottom: 14px;
                a{
                    font-size: 16px;
                    color: #444;
                    font-family: microsoft yahei;
                }
            }
            dd{
                display: block;
                a{
                    height: 22px;
                    line-height: 22px;
                    color: #999;
                    font-size: 12px;
                }
            }
        }
        .wei{
            padding-top: 11px;
            padding-left: 33px;
            float: left;
            background: url(../img/ss.jpg) no-repeat 30px 104px;
            width: 125px;
            height: 150px;
            border-left: 1px solid #e1e1e1;
        }    
    }  
}
// foot-bottom
.foot-bottom{
    width: 880px;
    border-bottom: 1px solid #ccc;
    height: 130px;
    // clear: both;
    margin: 0 auto;
    padding: 0 160px 0 160px;
    display: flex;
    .fb{
        width: 140px;
        height: 110px;
        margin: 0 40px;
        dt{
            width: 108px;
            height: 50px;
            margin-bottom: 10px;
            margin-left: 16px;
        }
        dd{
            text-align: center;
            line-height: 20px;
            height: 20px;
            font-size: 13px;
            color: #444;
            font-family: microsoft yahei;
        }
    }
}
// dibu
.dibu{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    line-height: 44px;
    height: 44px;
    font-size: 14px;
    color: #444;
    font-family: microsoft yahei;
}

