//导入公共样式
@import 'public';

.brand{
    width: 1200px;
    margin: 0 auto;
    .ime{
        width: 450px;
        text-align: center;
        margin: 40px auto;
        overflow: hidden;
        .im1{
            vertical-align: top;
            border: 0 none;
            float: left;
            width: 94px;
            height: 21px;
            margin-top: 16px;
        }
        .im2{
            vertical-align: top;
            border: 0 none;
            float: right;
            width: 94px;
            height: 21px;
            margin-top: 16px;
        }
        .pin{
            float: left;
            width: 262px;
            font-weight: 400;
            line-height: 48px;
            font-size: 40px;
            color: #000;
        }
    }
    .brand-list{
        li{
            width: 535px;
            height: 210px;
            border: 1px solid #ddd;
            padding: 5px;
            margin: 0 10px 20px;
            overflow: hidden;
            float: left;
            cursor: hand;
            cursor: pointer;
            position: relative;
            div{
                float: left;
                padding-top: 63px;
                .small{
                    width: 139px;
                    height: 53px;
                    margin-left: 35px;
                }
                .ya{
                    width: 180px;
                    line-height: 34px;
                    font-size: 28px;
                    text-align: center;
                    position: absolute;
                    top: 130px;
                    left: 20px;
                }
            }
            .big{
                float: right;
                width: 322px;
                height: 210px;
            }
        }
    }
    .mai{
        margin: 0 auto 43px;
        width: 183px;
        height: 50px;
        color: white;
        font-size: 25px;
        background: #ff1e62;
        border-radius: 5px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        clear: both;
    }
}
  